<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  
  </head>
  <body>
  
  
   {% include navigation.html %}

<div class="site-content">

  <div class="container">


   <div class="mainheading">
    <h1> Hmin's
    </h1>
    <p class="lead">On some days, I wonder.</p>

    </div> 
    {{ content }}

  </div>
</div>
  </body>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script> 
  <script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>



</html>